/* Teal & Orange
Primary Colors: Teal (#008080), Bright Orange (#FFA500)
Accent Colors: Light Gray (#F5F5F5), Charcoal (#333333)
Vibe: Modern, Energetic, Friendly */
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); */




*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html{
    height: 100%;
    width: 100%;
}

.nav-container{
    margin-bottom: 0;
}
/* body{
    margin: 0;
    padding: 0;
    background-image: url("/img/bg2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: rgba(0,0,0,0.55);
    background-image: cross-fade(url("img/bg2.jpg"), 75%); 
} */
nav div div{
    background-color: #F5F5F5;
}

.navbar{
    padding: 4px;
    position: relative;
    z-index: 10;
}

.logo-container {
    width: 30%;
}

.logo {
    padding: 0;
    margin: 0;
    width: 8vw;
    height: auto;
    mix-blend-mode: darken;
    /* Maintain aspect ratio */
}



.logo-text{
    color: #bf2025;
    /* letter-spacing: ; */
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: .6rem;
    margin-left: .3em;
    margin-bottom: 0;
    letter-spacing: .089em;
    /* -webkit-text-stroke: 0.5px #bf2025; */
}

.logo {
    width: 60px;
    /* Default size 
    height: auto;*/
}

a:hover{
    color: #ECF0F1;
}

.nav-link-color:hover{
    color: #ECF0F1;
}

.nav-link-color{
    color: #fff;
    background-color: #008080;
}
/* .nav-link.active {
    background-color: transparent !important; /* Remove background color 
    color: #fff !important; /* Reset text color 
    font-weight: normal !important; /* Reset font weight 
    border-bottom: 2px solid #fff !important; /* Remove any borders applied 
} */
/* .nav-link:active{
    color: #fff;
    font-weight: bold;
} */

@media (max-width: 991px){
    .nav-link-color{
        color: #000000A6;
        background-color: transparent;
    }

    .nav-link-color:hover{
    color: rgba(0,0,0, 0.8);
}

/* .nav-link:active{
    font-weight: normal;
} */
}

@media (max-width: 768px) {
    .logo {
        width: 60px;
        /* Smaller screens */
    }
}

@media (max-width: 480px) {
    .logo {
        width: 60px;
        /* Even smaller screens */
    }
}

.custom-btn{
    background-color: #FFA500;
    color: #fff;    
    padding: 7.5px 12px;
}


.navbar-collapse {
    justify-content: flex-end;
    align-content: flex-end;
    padding-bottom: 0;
    margin-bottom: 0;
}


.dropdown:hover .dropdown-menu {
    display: block;
}

/* Social Media Icons CSS */
#icon_wrapper {
    position: fixed;
    top: 242px;
    right: 0px;
    z-index: 99999;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

section{
    height: 90vh;
    position: relative;
}

.quote {
    
    max-width: 700px;
    width: 80%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    /* position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0; */
    margin: auto;
}

.quote h1 {
    color: white;
}

.quote p{
    color: white;
    opacity: 0.9;
}

.quote p span button{
    opacity: 0.9;
}


.vision {
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 1;
}

/* img slider */
.img-slider{
    width: 100%;
    height: auto;
    background-image: url(/img/bg.jpg);
    background-size: 100% 100%;
    animation: changeImage 20s linear infinite;
}

@keyframes changeImage {
    0%{
        background-image: url(/img/bg.jpg);
    }
    25%{
        background-image: url(/img/bg2.jpg);
    }
    50%{
        background-image: url(/img/Mission.png);
    }
    75%{
        background-image: url(/img/Vision.png);
    }
    100%{
        background-image: url(/img/bg.jpg);
    }
}