/* nav start */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');




* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    width: 100%;
}

.nav-container {
    margin-bottom: 0;
}


nav div div {
    background-color: #F5F5F5;
}

.navbar {
    padding: 4px;
    position: relative;
    z-index: 10;
}

.logo-container {
    width: 30%;
}

.logo {
    padding: 0;
    margin: 0;
    width: 8vw;
    height: auto;
    mix-blend-mode: darken;
    /* Maintain aspect ratio */
}



.logo-text {
    color: #bf2025;
    /* letter-spacing: ; */
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: .6rem;
    margin-left: .3em;
    margin-bottom: 0;
    letter-spacing: .089em;
    /* -webkit-text-stroke: 0.5px #bf2025; */
}

.logo {
    width: 60px;
    /* Default size 
    height: auto;*/
}

a:hover {
    color: #ECF0F1;
}


.nav-container {
    margin-bottom: 0;
}

.nav-link-color:hover {
    color: #ECF0F1;
}

.nav-link-color {
    color: #fff;
    background-color: #008080;
}


@media (max-width: 991px) {
    .nav-link-color {
        color: #000000A6;
        background-color: transparent;
    }

    .nav-link-color:hover {
        color: rgba(0, 0, 0, 0.8);
    }

    /* .nav-link:active{
    font-weight: normal;
} */
}

@media (max-width: 768px) {
    .logo {
        width: 60px;
        /* Smaller screens */
    }
}

@media (max-width: 480px) {
    .logo {
        width: 60px;
        /* Even smaller screens */
    }
}

.custom-btn {
    background-color: #FFA500;
    color: #fff;
    padding: 7.5px 12px;
}


.navbar-collapse {
    justify-content: flex-end;
    align-content: flex-end;
    padding-bottom: 0;
    margin-bottom: 0;
}


/* Hero Start */

.column {
    float: left;
    width: 20%;
    padding: 0;
}

/* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
}

.row {
    display: flex;
}

.column {
    flex: 20%;
    padding: 0;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
    .column {
        width: 100%;
    }
}


.side-by-side{
    height: 150px;
    object-fit: cover;
}

.image-row-container {
    position: relative;
    width: 100%;
}

/* Overlay line styling */
.overlay-text {
    position: absolute;
    top: 50%; /* Center vertically */
    left: 20%; /* Center horizontally */
    transform: translate(-50%, -50%);
    color: black;
    font-size: 1.5em; /* Adjust font size as needed */
    font-weight: bold;
    padding: 10px 20px; /* Adjust padding as needed */
    z-index: 1;
}

.overlay-text1 {
    position: absolute;
    top: 50%; /* Center vertically */
    left: 70%; /* Center horizontally */
    transform: translate(-50%, -50%);
    color: black;
    font-size: 1em; /* Adjust font size as needed */
    /* font-weight: bold; */
    padding: 10px 20px; /* Adjust padding as needed */
    z-index: 1;
}



/* Hero Close */